:host {
	display: block;
}

.editor-shell {
	min-height: 100%;
}

.editor-input {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	tab-size: 2;
}

.line-number {
	height: 1.5rem;
}

.console-shell {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.02), transparent);
}
